.titulo__paginas {
    text-align: center;
    font-size: 3rem ;
    background-color: rgba(4, 163, 110, 0.603);
    border: solid black 3px;
    border-radius: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.61);
}

.fondo__nosotros {
    background-image: url(../../assets/img/fondonosotros.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen__nosotros {
    border: 6px solid lightblue;
    width: 60vw;
    margin-top: 3vh;
}

.texto__nosotros {
    margin-top: 5vh;
    font-family: $fuentesecundaria;
    text-align: center;
    font-size: 1.5rem;
}